/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
#seed {
  margin-top: 7px;
  height:50px;
  width:50px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #37474f;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#quoteText {
  font-size: 30px;
}


.card-image img {
  height: 200px;
  width: 100px;
}

#learn_zen_book {
  height: 200px;
  width: 210px;
  display: block;
  margin: auto;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  height:300px;
  padding-top: 10px;

}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-image: url("stardust.png");
}


#ageInput {
    margin: 60px 30px 0 30px
}

#ageInput > .ui-slider-handle {
    text-decoration: none;
    width: 35px;
    text-align: center;
}

.focus {
  background: url("sparkle1.jpg");
  color: white;
  height: 300px;
  box-shadow: 0 0 5px 5px white inset;
  /*width: 100px;*/
  /*background-color: #cfd8dc;*/
}

.material-icons: {
  color: white;
}

.beats {
/*background-color: red;*/
background-image: url("swirl_pattern.png");
}

#beatTitle {
  /*padding-top: 25px;*/
}

.create {
  padding: 50px 0px 75px 0px;
}

#phones {
  padding: 75px 0px 0px 0px;
}

.create {
  padding-top: 75px;
  padding-bottom: 50px;
}

.thumb {
  display:none;
}

.fa {
  padding-bottom: 20px;
}

.links {
  padding-top: 20px;
}
