/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #37474f;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#quoteText {
  font-size: 30px;
}

#seed {
  margin-top: 7px;
  height:50px;
  width:50px;
}

.learn {
  height: 200px ;
  width: 200px;

}

#learn_zen_book {
  height: 200px;
  width: 210px;
  display: block;
  margin: auto;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  height: 300px;
  padding: 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


#ageInput {
    margin: 60px 30px 0 30px
}

#ageInput > .ui-slider-handle {
    text-decoration: none;
    width: 35px;
    text-align: center;
}

.focus {
  background-color: #cfd8dc;
}

.create {
  padding: 25px;
}
